<h3>Bannissement du Forum!</h3>

Cher {{ name }}! <br/>
Nous vous informons que l'équipe a décidé d'annuler vote bannissement du Sujet "{{ sujet.titre }}" créé par {{ sujet.idAbonne.username }} le {{ date|date("Y-m-d") }}.
Vous pouvez dorénavant consulter et publier des messages dans ce forum.
Merci de bien respecter les conditions d'utlisataion de notre forum.
Merci pour votre compréhension.


<h4>NB: Cet e-mail est envoyé automatiquement.</h4>

<img style="width: 10%;height: 15%;" src="{{ asset('images/cdc.png') }}">