<h3>Bannissement du Forum!</h3>

Cher {{ name }}! <br/>
Nous vous informons que vous avez été banni définitivement du Sujet "{{ sujet.titre }}" créé par {{ sujet.idAbonne.username }} le {{ date|date("Y-m-d") }}.
L'équipe de gestion du Forum a constaté que plusieurs participants à ce sujet ont signalé un message inappropré que vous avez publié récemment.<br/>
Merci pour votre compréhension.


<h4>NB: Cet e-mail est envoyé automatiquement.</h4>

<img style="width: 10%;height: 15%;" src="{{ asset('images/cdc.png') }}">